<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eieruhr
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ein leckeres Ei am Morgen?</strong>
    <p>Soft, Mittel oder doch lieber hartgekocht? Mit der Eieruhr bekommst du das perfekt hin!</p>
    <br>
    <ion-button (click)="goToTimer()" color="warning">Jetzt Timer wählen</ion-button>
  </div>
</ion-content>
